[submodule ".registry"]
	path = .registry
	url = https://github.com/jameshwade/jameshwade.r-universe.dev
	branch = HEAD
[submodule "ellmer"]
	path = ellmer
	url = https://github.com/tidyverse/ellmer
	registered = false
[submodule "gptstudio"]
	path = gptstudio
	url = https://github.com/MichelNivard/gptstudio
	branch = main
[submodule "gpttools"]
	path = gpttools
	url = https://github.com/JamesHWade/gpttools
	branch = main
[submodule "measure"]
	path = measure
	url = https://github.com/JamesHWade/measure
	branch = main
[submodule "rstudioapi"]
	path = rstudioapi
	url = https://github.com/rstudio/rstudioapi
	registered = false
[submodule "shinychat"]
	path = shinychat
	url = https://github.com/posit-dev/shinychat
	registered = false
