[submodule ".registry"]
	path = .registry
	url = https://github.com/jameshwade/universe
	branch = HEAD
[submodule "gptstudio"]
	path = gptstudio
	url = https://github.com/MichelNivard/gptstudio
	branch = main
[submodule "gpttools"]
	path = gpttools
	url = https://github.com/JamesHWade/gpttools
	branch = main
[submodule "measure"]
	path = measure
	url = https://github.com/JamesHWade/measure
	branch = main
